<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tervetuloa kirpputorille!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
     <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
     th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    
</head>
<body>

	<h1>Kaikki kirpputorin tuotteet</h1>
	

		<a th:href="@{/productlist}">Näytä kirpputorin tuotteet.</a>
</body>
</html>